/*define vars for the root element*/
:root{
    --main-bg-colore:#efefef;
    --main-text-color:#333;
    --sec-text-color:#555; 
     --container-width:90%;
    --header-bg-color:#333;
    --header-text-color:#fff;
    --box-bg-color:#ddd;
    --box-main-color:#e80e0e;;
    --main-padding:30px;
    --main-margin:50px;
    --box-padding: 5px 10px;  
    --grid-gab:20px;
    --box-bg-color:#ddd;
    --box-bg-img:#333;
    

}
body{
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-colore);
    color: var(--main-text-color);
    line-height: 1.5;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.box {
    padding: var(--main-padding);
    border-radius: 10px;

}
.box div {
    padding: var(--main-padding);
    
}
.btn{
    background-color: var(--box-main-color);
    color: var(--header-text-color);
    padding: 15px;
    border: none;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #eee;
}
/*header*/
header nav {
    background-color: var(--main-text-color);
    height: 80px;
    width: 100%;
    display: inline-block;
}
header label.logo{
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    color: #eee;
    font-weight: bold;
 
}
header label.logo span{
    color: var(--box-main-color);
}
header nav ul{
    display: inline;
    margin-left: 20px;
}
header nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
header nav ul li a{
    color: var(--header-text-color);
    font-size: 17px;
    border-radius: 3px;
    padding: 10px 13px;
    text-decoration: none;
}
a.active, a:hover{
    background-color: var(--box-main-color);
    transition:  all .5s;
}
header .check-btn{
    color: var(--header-text-color);
    font-size: 18px;
    line-height: 80px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

/*showcase*/
#show .container{
    width: var(--container-width);
    margin: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#show .show-text{
  margin: var(--main-margin);
 padding: var(--main-padding);
 width: 50%;
 border-right: 5px solid var(--box-main-color);



}
#grid-1 .container{
    width: var(--container-width);
    margin: var(--main-margin) auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: var(--grid-gab);
    align-items: center;

}
#grid-1 .box{
     background-color: var(--box-bg-color);
     border-right: 5px solid var(--box-main-color);
     padding: var(--main-padding);
     display: flex;
     align-items: center;
    
}
#grid-1 .box .box-img{
    background-color: var(--box-bg-img);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: var(--main-margin);
}

/*grid-2*/
#grid-2 .container{
    width: var(--container-width);
    margin: var(--main-margin) auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: var(--grid-gab);
    align-items: start;
    justify-content: start;
 
}
#grid-2 .box-1{
    display: grid;
    grid-gap: var(--grid-gab);
    grid-template-rows: repeat(3, 1fr);
     margin: var(--main-margin);
}
#grid-2 .box-1 div{
     background-color: var(--box-bg-color);

     border-radius: 10px;
}
#grid-2 .box-2{
    display: grid;
    grid-gap: var(--grid-gab);
    grid-template-columns: repeat(3, 1fr);
       margin: var(--main-margin);
    
}
#grid-2 img{
  
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/*grid-3*/

#grid-3 .container{
    width: var(--container-width);
    margin: var(--main-margin) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#grid-3 .container form{
    width: 100%;
    line-height: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      background-color: var(--box-bg-color);
      padding: 40px;
        border-right: 5px solid var(--box-main-color);
   
}
#grid-3 .container form  input, textarea{
    
    width: 100%;
    margin: 10px auto;
    background-color: var(--box-bg-color);
    border: none;
    border-bottom: 2px solid var(--main-text-color)
}
/*footer*/
footer{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin: auto;

}




























/*screen*/
@media (max-width: 800px) {
        #grid-1 .container {
    display: flex;
    flex-direction: column;
        }
        #grid-1 .box{
            padding: 0;
            margin: 0;

        }
        #grid-2 .container{
                display: grid;
    grid-template-columns:1fr;
    grid-gap: var(--grid-gab);
    text-align: center;
        }
         #grid-2 .box-1{
            display: flex;
            flex-direction: column;
            align-items: center;
         }
         #grid-2 .box-2{
            display: flex;
            flex-direction: column;
            align-items: center;
         }
         /*grid-3*/
         #grid-3 .form{
            display: block;
            border-radius: 10px;

         }

         /*header*/
          header .check-btn{
    display: block;
  }
  header nav ul {
    position: fixed;
    width: 90%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all .5s;
  }
  header nav ul li{
    display:block;
}
header nav ul li a{
    font-size: 20px;
}
header nav a:hover, a.active{
    background: none;
    color: var(--header-text-color);
}

#check:checked ~ ul {
    right: 0;
}
      }

/*scmaers page*/
.scamer{
    background-color: #e80f0f;
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: #efefef;
}
.scamer .scamer-right{
    order: 2;
    flex-basis: 70%;
   
}
.scamer .scamer-right .scamer-1{
    margin-bottom: 30px;
}
.scamer .scamer-left{
    display: flex;
    order: 1;
    flex-basis: 30%;
    justify-content: center;
}
.scamer .scamer-left img{
    margin-top: 40%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #333;
}

